.app {
  position: relative;
  height: 100vh;
  background: url('../images/wood_background_2.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}

.game-title {
  margin: 30px auto;
  text-align: center;
  font-size: 3rem;
  letter-spacing: .4rem;
  user-select: none;
  font-family: 'Fontdiner Swanky', cursive;
  color: #fff;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

@media (max-width: 600px) {
  .game-title {
    font-size: 2rem;
  }
}
